.shop__page__search{
    margin-top: -5.5rem;
}
.shop__page__container{
    margin-top: 25rem;
}
.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationBttns a{
   padding: 8px;
   margin: 8px;
   border-radius: 5px;
   border: 1px solid #7474f7;
   color:#7474f7;
   cursor: pointer;
}
.paginationBttns a:hover{
   color:#ffffff;
   background-color:#7474f7;
   
}
.paginationActive a{
    color:#ffffff;
    background-color:#7474f7;
}

/* Media Q************************************************ */

@media (max-width: 1440px) {
    .shop__page__search{
        margin-top: -10rem;
    }
    .shop__page__container{
        margin-top: 35rem;
    }
   
}
@media (max-width: 1024px) {
    .card-sl{
        width: 28rem !important;
    }
    .card-image img {
       height: 390px !important;
    }
}
@media (max-width: 768px) {
    .shop__page__search{
        margin-top: -14.5rem;
    }
    .shop__page__container{
        margin-top: 35rem;
    }
    .card-sl{
        width: 20rem !important;
    }
    .card-image img {
        height: 250px !important;
     }
}
@media (max-width: 425px) {
    .card-sl{
        width: 23.5rem !important;
    }
    .shope__custom__card{
        margin-left: .8rem;
    }
}
@media (max-width: 375px) {
    .card-sl{
        width: 20.5rem !important;
    }
}
@media (max-width: 360px) {
    .card-sl{
        width: 19.5rem !important;
    }
    .shop__page__search{
        margin-top: -8.5rem;
    }
    .shop__page__container{
        margin-top: 22rem;
    }
}
@media (max-width: 320px) {
    .card-sl{
        width: 17.5rem !important;
    }
    .shop__page__search{
        margin-top: -16.5rem;
    }
  
}
