.sideBarUl{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sideBarLi{
    margin-bottom: 30px;
}
.sideBarLink{
    text-decoration: none;
    color: rgb(49, 43, 43);
    padding: 10px 20px;
    background-color: aliceblue;
    transition: all 0.5s ease;
}
.sideBarLink:hover{
    background-color: rgb(146, 148, 150);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 750px) {
    .sideBarUl{
        background-color: rgb(74, 84, 94);
        padding: 10px;
    }
    .sideBarLi{
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 25px;
    }
    .sideBarLink{
        padding: 5px 10px;
        border-radius: 5px;
    }
}