.colornav {
  color: #f0f9ff;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  background-color: #000002;
}
.colornav:hover {
  color: #fffb06;
  border-bottom: 3px solid rgb(0, 255, 234);
  border-left: 2px solid rgb(0, 255, 234);
}
