.mapVideo p{ 
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.mapVideo p a{
    color: white;
    text-decoration: none;
}

.detail p{
    margin-right: 15px;
}
.description p{
    text-align: justify;
    font-size: 20px;
}
.location p{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
}
.save {
    margin-left: 10px;
    color:rgb(155, 131, 131);
    font-size: 22px;
}
.custom-carousel-inner{
    height: 400px !important;
}
.carousel-item img{
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    animation: zoom-in 8s ease-out infinite;
}
@keyframes zoom-in {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
