.slide-container {
  width: 21vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1vw;
  margin: 1vw 0px 16px 1vw;
}

.slide-content {
  width: 21vw;
  height: 17vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgb(213, 213, 213) 0%,
      rgb(241, 241, 241) 20%,
      rgb(213, 213, 213) 40%,
      rgb(213, 213, 213) 100%
    )
    center center / cover no-repeat rgb(213, 213, 213);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  position: relative;
  overflow: hidden;
  border-radius: 1vw;
}

.img-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.img-content {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 400;
  color: white;
  margin-right: 8px;
}

.slide-bottom-content {
  display: flex;
  flex-direction: column;
}

.slide-info {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.slide-time {
  color: rgb(10, 158, 136);
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
}

.slide-info img {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 4px;
}

.slide-location {
  color: rgb(10, 158, 136);
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
}

.slide-word {
  color: rgb(58, 58, 58);
  width: 21vw;
  font-size: 1.3vw;
  font-weight: 600;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  text-align: initial;
}

@media screen and (max-width: 480px) {
  .slide-time {
    color: rgb(10, 158, 136);
    font-size: 4vw;
    font-weight: 600;
  }

  .slide-info img {
    width: 4.2vw;
    height: 4.2vw;
  }

  .slide-location {
    color: rgb(10, 158, 136);
    font-size: 4vw;
    font-weight: 600;
  }

  .slide-value div,
  span,
  .card-body h5,
  .card-body {
    color: rgb(58, 58, 58);
    font-size: 4vw !important;
    font-weight: 600;
    text-align: center;
  }
}

.slide-value {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 0px 12px 8px;
  color: rgb(58, 58, 58);
}

.slide-value div {
  color: rgb(58, 58, 58);
  font-size: 1.2vw;
  font-weight: 600;
  padding-left: 8px;
}

.customize-content {
  font-size: 2vw;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  width: 19vw;
  height: 4vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(58, 58, 58, 0.2);
  border: 1px solid white;
  margin-bottom: 5vw;
}
.slick-next,
.slick-prev {
  font-size: 0px;
  line-height: 0;
  top: 40%;
  width: 4vw;
  height: 4vw;
  transform: translate(0px, -50%);
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px;
}

.slick-next:hover,
.slick-prev:hover {
  transform: scale(1.1);
  top: 35%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.slick-next::before,
.slick-prev::before {
  font-size: 2.5vw;
  line-height: 1;
  opacity: 1;
  color: rgb(10, 158, 136);
}
#rent {
  cursor: pointer;
}

.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: "→" !important;
}

/* .sale{
    background: #778EA2;
    padding: 2px 9px 3px 9px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
  }
  .apartment{
    font-size: 14px;
    
  }
  #cardStyle{   
    border: none;
    padding: 10px;
  }
  
  #cardStyle:hover{
     box-shadow:5px 5px 10px rgb(0,0,0,.1),-5px -5px 10px rgb(0,0,0,.1);
    transform: scale(1.1);
    transition-duration: .5s;
    
  } */

/* Card new */

a {
  text-decoration: none;
}

/* Card Styles */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #e26d5c;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #e26d5c;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
