.search-container{
    width: 60.2rem;
    min-height: 13.5rem;
    margin-top: 2.4rem;
    padding: 1.6rem;
    z-index: 2;
    border-radius: 1rem;
    transition: min-height .3s ease-in;
    background: rgba(34,34,34,.85);
}

._09d0271c:first-child {
    margin-top: 0;
}
._00c6d5b2 {
    height: 5rem;
}
._09d0271c {
    display: flex;
    position: relative;
    margin-top: 1rem;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@media only screen and (max-width: 480px) {
    .ad62c515 {
        display: block;
    }
  }

.ad62c515 {
    position: relative;
    border-radius: .4rem;
    color: #222;
    font-weight: 400;
    background-color: #fff;
    width: 80% !important;
}

.c59f6356 {
    position: absolute;
    width: 57rem;
    min-height: 5rem;
    z-index: 2;
    border-radius: .4rem;
}

._9dc6d35d {
    min-height: 5rem;
    box-sizing: border-box;
    height: auto;
    padding: .5rem 1rem 0;
    border-radius: 10px;
    background-color: #fff;
}

._5176f8e1 {
    font-size: 1rem;
    font-weight: 700;
    color: #767676;
    display: block;
    text-transform: uppercase;
}
.b9e5541a {
    width: 100%;
    overflow: hidden;
}
._4610598b {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    vertical-align: top;
}

._6a3a3de9 {
    height: 2.5rem;
}
.a41c4dcc {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    width:fit-content !important;
    color: #222;
    border: none;
    background-color: transparent;
    line-height: 2.5rem;
}

.a41c4dcc:focus {
    outline: none;
}

.c3901770 {
    font-size: 1.302rem;
    font-weight: 700;
    display: flex;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: unset;
    border-radius: .2rem;
    background-color: #0e6b4f;
    justify-content: center;
    align-items: center;
}
.c3901770:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0c5b43;
}
a:active, a:hover {
    outline-width: 0;
}
._33ccf401, .c7619dc9 {
    font-weight: 700;
}
._33ccf401 {
    height: 5rem;
    width: 10rem;
    margin-left: 1rem;
    border-radius: .4rem;
}