.search-container {
  width: 60.2rem;
  min-height: 13.5rem;
  margin-top: 2.4rem;
  padding: 1.6rem;
  z-index: 2;
  border-radius: 1rem;
  transition: min-height 0.3s ease-in;
  background: rgba(253, 247, 247, 0.3);
}

.search {
  padding: 10px;
  opacity: 0.6;
}

.search:focus {
  padding: 10px;
  opacity: 0.8;
}
