.partner-container {
  padding: 30px;
  border: 1px solid #cecece;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  min-height: 200px;
}
.partner-container .img {
  max-width: 100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.partner-container:hover .img {
  filter: none;
}
