.nav-link{
 text-transform: uppercase;
 color:#ffffff !important;
 font-size: 1rem !important;
 letter-spacing: 1px !important;
 transition: all 0.3s ease-in-out;
 background-color: #a6b9f7;
 margin-left: 5px;
 padding: 10px 25px !important;
}
.nav-link:hover{
 color:#484849 !important;
}

body{
  background-color: #eeeeee !important;
}
