.carousel{
    position: relative;
}
.carousel-item{
    height: 600px;
}
.search-bar{
    position: absolute;
    top: 30%;
    bottom: 50%;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.carousel-inner{
    z-index: -1;
}